body {      
  font-family: 'Noto Sans TC', sans-serif;
  display: flex; 
  min-height: 100vh;  
  flex-direction: column; 
}

#container {
  flex: 1;
}

.chartblock { 
  position: relative;
  margin-top:70px;
  padding-bottom:10px; 
  font-size: 1em;
  font-weight: bold;
  display: grid;
  grid-template-columns: 95%;
  justify-content: space-evenly;
  row-gap: 10px;
  align-items: center;
  text-align: center;
}

label {
  font-weight: bold;
}

select  {
  padding: 2px;
  width: auto; 
  font-size: 1em;
  font-weight: bold; 
}

option {
  font-weight: bold;
}

.chart { 
  height: 250px;
}

.chart-container {
  margin-top: 20px;
}

.chartblock button {
  width: auto;  
  padding: 5pxs; 
  font-size: 1em; 
  margin: 0 auto;  
}

.navbar-nav .nav-link {
  font-size: 2em ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.nav-link:hover {
  background-color: #ddd;
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.chartconfigure { 
  position: relative; 
  top: 85px; 
  display: flex;
  justify-content: space-between;      
}

.display {
  margin-left: auto;
}


.dual-display {
  grid-template-columns: 45% 45%;
}

footer {
  text-align: center;
}

/* CSS for loading spinner */
.loading-spinner {
  display: none; /* 初始隱藏 */
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 9999; /* 確保位於最上層 */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


